mixin intro()
  .intro
    .container
      .todo
        .todo__bg-dark
        .todo__bg-light
        .todo__top
          h1.todo__title Todo list
          button.btn(type="button") add
        ul.todo__list
      .intro__copyright © 2021. Vishnevskii Vladislav
